{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <div class="container-fluid">

        <div class="container jumbotronTitle jumbotronAdmin my-5">
            <h1 class="text-white text-center mt-5">Turgis Arts Graphiques</h1>
            <h2 class="text-right">Bienvenue</h2>
        </div>
        <section class="description">
            <div class="container">
                <!--Start: 1st Section
                - CELULAR SLIDER
                ====================================-->
                <div class="col">
                    <div id="three-container"></div>

                    <!--<div id="instructions">
                        click and drag to control the animation
                    </div>-->
                </div>

                <h2 style="text-align: center; color: white; margin-top:150px; background-color: rgba(68, 68, 68, 0.9)">
                    Qui est Erik Turgis ?
                </h2>

                <div class="card presentation col-9">
                    <img src="image/erik-chap.jpg"  class="card-img-top" style="width:20%; opacity: 1" alt="...">
                    <div class="card-body col-8">
                        <p class="card-text jumbotronTitle">
                            Voyage au cœur d'un labyrinthe d'artiste

                            L'œil énigmatique, le sourire mystérieux, Erik G. TURGIS a quelque chose du Sphinx. IL en a, en tout cas, la sérénité, celle d'un artiste qui vit en harmonie avec ses rêves et la réalité. Qu'importe s'il n'a pas (encore) la notoriété, ce n'est pas sa principale préoccupation.
                            Sa première ambition n'est pas de monnayer sa passion mais plus tranquillement, de la vivre... <br>
                            <a href="{{ path('presentation')}}">Lire la suite</a>

                        </p>
                    </div>
                </div>
            </div>
        </section>

    </div>

    {% block javascripts %}
        <!-- THREE SLIDER -->
        <script src="{{ asset('js/celular_slider.js')}}"></script>
    {% endblock %}

{% endblock %}
